/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Global Css */
:root{
    --main-color: #2a14eb;
    --color-1: #e91e63;
    --color-2: #f5ae10;
    --color-3: #09d69c;
    --bg-dark: #2b2c2f;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color: var(--bg-color);
    --shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
    --shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
    --black-900: #000;
    --black-400: #555;
    --black-100: #f7f7f7;
    --black-000: #fff;
    --black-alpha-100: rgba(0,0,0,0.05);
}
body{
    font-family: font-family 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background: #fff;
    line-height: 1.5;
}
body.dark{
    background-color: var(--bg-dark);
    --black-100: var(--bg-dark);
    --black-000: var(--bg-dark);
    --main-to-dark-color: var(--bg-dark);
    --dark-to-main-color: var(--main-color);
    --shadow-black-100: var(--shadow-black-300);
    --black-alpha-100: rgba(255,255,255,0.05);
    --black-900: #fff;
    --black-400: #bbb;   
}
*{
    margin: 0;
    padding: 0;
    outline: none!important;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
ul{
    list-style: none;
}
.btn-1{
    background-color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}
.btn-1:focus{
    box-shadow: var(--shadow-black-300);
}
.btn-1:hover{
    color: #fff;
    background-color: var(--main-color);
}
.btn-2{
    background-color: var(--main-color);
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-100);
    font-weight: 500;
}
.btn-2:focus{
    box-shadow: var(--shadow-black-100);
}
.btn-2:hover{
    color: var(--main-color);
    background-color: #fff;
}
@keyframes spin_01{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes bounceTop_01{
    0%,100%{
        transform: translateY(-30px);
    }
    50%{
        transform: translateY(0px);
    }
}
@keyframes pulse_01{
    0%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255,255,255,0.7);
    }
    70%{
        transform: scale(1);
        box-shadow: 0 0 0 12px rgba(255,255,255,0);
    }
    100%{
        transform: scale(0.94);
        box-shadow: 0 0 0 0 rgba(255,255,255,0);
    }
}
@keyframes zoomInOut_01{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
        opacity: 0;
    }
}

.section-padding{
    padding: 80px 0;
}
.section-title{
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 40px;
    color: var(--black-900);
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}
.section-title h2 span{
    color: var(--main-color);
}
.owl-carousel .owl-dots{
    padding: 0 15px;
    text-align: center;
    margin-top: 20px;
}
.owl-carousel button.owl-dot{
    height: 6px;
    width: 24px;
    background-color: #ddd;
    display: inline-block;
    margin: 0 4px;
    border-radius: 5px;
}
.owl-carousel button.owl-dot.active{
    background-color: var(--main-color);
}

/* Preloader */
.preloader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2100;
    background-color: var(--main-to-dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader span{
    display: block;
    height: 60px;
    width: 60px;
    background-color: var(--dark-to-main-color);
    border-radius: 50%;
    animation: zoomInOut_01 1s ease infinite;
}

/* Navbar */

/* Home section */
.home{
    min-height: 100vh;
    padding: 150px 0;
    background-color: var(--main-to-dark-color);
    border-radius: 0 0 200px 0;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
}
.home-text h1{
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 20px;
}
.home-text p{
    font-size: 18px;
    line-height: 28px;
    margin: 0;
    color: #fff;
    font-weight: 300;
}


.icon-image{
    margin-top: 30px;
}
.home-img .pic{
    width: 100%;
    max-width: 350px;
    box-shadow: var(--shadow-black-100);
    border-radius: 135px;
    background-color: transparent;
    margin-top: -300px;
    margin-left: 50px;
}
.home-img{
    position: relative;
    height: 460px;
}
.home-img .circle{
    position: absolute;
    z-index: 1;
    height: 400px;
    width: 400px;
    border: 1px solid rgba(255,255,255,0.2);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.home-img .circle::before{
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.4);
    border-radius: 50%;
    left: 30px;
    top: 30px;
    transform-origin: 170px,170px;
    animation: spin_01 10s linear infinite;
}
.home .home-btn{
    margin-top: 40px;
}
.home .home-btn .video-play-btn{
    margin-left: 30px;
    height: 50px;
    width: 50px;
    padding: 0;
    font-size: 16px;
    animation: pulse_01 2s ease infinite;
}
.home .home-btn .video-play-btn:hover{
    animation: none;
    box-shadow: var(--shadow-black-300);
}
.home .home-btn .video-play-btn i{
    line-height: 50px;
}

 /**
   * typography 
   */
:root {
   --fs-base: 0.85rem;
   --fs-1: 1.875rem;
   --fs-2: 1.5rem;
   --fs-3: 1.25rem;
   --fs-4: 0.875rem;
   --fs-5: 0.75rem;
}

/*-----------------------------------*\ 
  #BASE STYLE
\*-----------------------------------*/

.h1,
.h2,
.h3,
.h4 {
  display: block;
  color: var(--foreground-primary);
}

.h1 {
  font-size: var(--fs-1);
  font-weight: 900;
}

.h2 {
  font-size: var(--fs-2);
  font-weight: 700;
}

.h3 {
  font-size: var(--fs-3);
  font-weight: 700;
}

.h4 {
  font-size: var(--fs-4);
  font-weight: 700;
}

.text-sm { font-size: var(--fs-4); }

.text-tiny { font-size: var(--fs-5); }


/*-----------------------------------*\ 
  #BLOG SECTION
\*-----------------------------------*/

.main {
    background: var(--background-secondary);
    padding: 5rem 0;
  }
  
  .blog .h2 {
    line-height: 1.3;
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .blog-card-group { margin-bottom: 3rem; }
  
  .blog-card {
    background: var(--background-primary);
    padding: 10px;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.05);
    transition: 0.25s ease;
  }
  
  .blog-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 10px hsla(0, 0%, 0%, 0.1);
  }
  
  .blog-card-banner { display: none; }
  
  .blog-content-wrapper { padding: 10px 5px; }
  
  .blog-topic {
    background: var(--action-secondary);
    color: var(--foreground-secondary);
    font-weight: 600;
    padding: 0.25rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .blog-topic:hover {
    background: var(--foreground-secondary);
    color: var(--action-secondary);
  }
  
  .blog-card .h3 {
    line-height: 1.4;
    margin-bottom: 1rem;
  }
  
  .blog-card .h3:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  
  .blog-text,
  .profile-wrapper { display: none; }
  
  .blog .wrapper {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    flex-wrap:       wrap;
    gap: 15px;
  }
  
  .blog .h4 { color: var(--foreground-secondary); }
  
  .blog .h4:hover { color: var(--accent); }
  
  .blog .text-sm {
    display:     flex;
    align-items: center;
    gap: 5px;
    color: var(--foreground-tertiary);
  }
  
  .blog .separator {
    background: var(--foreground-tertiary);
    margin-inline: 3px;
    margin: 0 3px; /* fallback for margin-inline */
    width:  3px;
    height: 3px;
    border-radius: 3px;
  }
  
  .blog ion-icon { --ionicon-stroke-width: 50px; }
  
  .blog .btn-1 {
    background-color: #2a14eb;
    color: #fff;
  }
  
  .blog .btn-1:hover { background-color: #fff; color: #2a14eb; }
  
  
  
  
  
  /*-----------------------------------*\ 
    #ASIDE
  \*-----------------------------------*/
  
  .aside { display: none; }

   /*-----------------------------------*\ 
    #ASIDE
  \*-----------------------------------*/
  
  .aside { display: none; }
  .aside .topics h2{
    color: var(--black-900);
  }

  .aside .contact h2{
    color: var(--black-900);
  } 
  
  .aside .newsletter h2{
    color: var(--black-900);
  }
  
  .aside .contact p{
    color: var(--black-400);
  }
  .aside .newsletter .wrapper p{
    color: var(--black-400);
  }
  
 


/* Footer Styling */
.footer{
    background-color: #2a14eb;
    padding: 50px 0 0;
}
.footer-col h3{
    font-size: 18px;
    font-weight: 500;
    color: #15ff00;
    margin: 0 0 25px;
    text-transform: capitalize;
}
.footer-col p{
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.9);
    line-height: 26px;
    margin: 0;
}
.footer-col ul{
    margin: 0;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.9);
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.5s ease;
}
.footer-col ul li a:hover{
    padding-left: 5px;
}
.footer .copyright-text{
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.9);
    margin: 50px 0 0;
    border-top: 1px solid rgba(255,255,255,0.2);
}

/* Toggle theme light and dark mode */
.toggle-theme{
    position: fixed;
    right: 0;
    top: calc(50% - 20px);
    height: 40px;
    width: 40px;
    background-color: var(--dark-to-main-color);
    z-index: 1200;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: var(--shadow-black-300);
    font-size: 16px;
    text-align: center;
}
.toggle-theme i{
    line-height: 40px;
}


/* Responsive Styling */
@media(max-width: 991px){
  .max-width{ 
      padding: 0 50px;
  }

}
@media(max-width: 947px){

  .home .home-content .text-2{
      font-size: 70px;
  }
  .home .home-content .text-3{
      font-size: 35px;
  }
  .home .home-content a{
      font-size: 23px;
      padding: 10px 30px;
  }
  .about .about-content .column{
      width: 100%;
  }
  .max-width{
      max-width: 800px;
  }
  .about .about-content .left{
      display: flex;
      justify-content: center;
      margin: 0 auto 60px;
  }
  .about .about-content .left img{
      height: 500px;
  }
  .about .about-content .right{
      flex: 100%;
  }
  .services .serv-content .card{
      width: calc(50% - 10px);
      margin-bottom: 20px;
  }
  .skills .skills-content .column,
  .contact .contact-content .column{
      width: 100%;
      margin-bottom: 30px;
  }
  .app-download-item{
      margin-bottom: 30px;
  }
  .app-download {
      margin-top: -130px;
  }
  .team-item .image{
      padding: 50px;
  }
  .team-item .text{
      padding: 30px;
  }

}
@media(max-width: 690px){
  .max-width{ 
      padding: 0 23px;
  }
  .home .banner img{
      height: 800px;
      position: relative;
      top: 0;
  }
  .home-text{
      margin-bottom: -20px;
  }
  .home .home-text .text-1{
      font-size: 30px;
  }
  .home .home-text .text-2{
      font-size: 15px;
  }
  .home .home-text .text-3{
      font-size: 20px;
  }
  .home .home-text a{
      font-size: 12px;
  }
  .services .serv-content .card,
  .skills .skills-content .column{
      width: 100%;
  }
  .teams .carousel .card .box{
      width: 100%;
  }
  .footer-col h3{
    margin-top: 15px;
    margin-bottom: 10px;
} 
  .blog-write .title{
    margin-left: 40px;
  }
  .blog-write .text img{
    margin-left: 40px;
  }


}
@media(max-width: 500px){
  .home .home-text .text-2{
      font-size: 15px;
  }
  .home .home-text .text-3{
      font-size: 20px;
  }
  .home .home-text a{
      font-size: 12px;
  }
}




/*-----------------------------------*\ 
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 550px screen
 */
 :root {

    /**
     * typography 
     */

    --fs-base: 0.90rem;

  }

 @media (min-width: 550px) {

    /**
     * BLOG 
     */
  
    .blog-card {
      display: grid;
      grid-template-columns: 3fr 4fr;
      gap: 20px;
    }
  
    .blog-card-banner {
      display: block;
      overflow: hidden;
      border-radius: 5px;
    }
  
    .blog-banner-img {
      width:  100%;
      height: 100%;
      object-fit: cover;
    }
  
  }
  
  
  
  
  
  /**
   * responsive for larger than 650px screen
   */
  
  @media (min-width: 650px) {

    :root {

        /**
         * typography 
         */
    
        --fs-1: 2.25rem;
    
      }
    /**
     * BLOG 
     */
  
    .blog .h2 {
      position: relative;
      text-align: left;
      padding-left: 2rem;
    }
  
    .blog .h2::before {
      content: '';
      position: absolute;
      top:  0;
      left: 0;
      background: var(--action-primary);
      width:  5px;
      height: 100%;
      border-radius: 5px;
    }
  
    .blog-text,
    .profile-wrapper { display: block; }
  
    .blog-text {
      color: var(--foreground-secondary);
      font-size: var(--fs-4);
      display: -webkit-box;
      line-clamp: 3;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin-bottom: 1rem;
    }
  
    .blog .wrapper-flex {
      display:         flex;
      justify-content: start;
      align-items:     center;
      gap: 10px;
    }
  
    .profile-wrapper {
      width:  56px;
      height: 56px;
      background: var(--action-primary);
      padding: 3px;
      border-radius: 50%;
    }
  
    .profile-wrapper img { border-radius: 50%; }
  
    .blog .wrapper {
      flex-direction: column;
      align-items: start;
      gap: 0;
    }
  
  }
  

  /**
   * responsive for larger than 1024px screen
   */
  
  @media (min-width: 1024px) {
    :root {

        /**
         * typography 
         */
    
        --fs-base: 1rem;
        --fs-1: 3rem;
    
      }
    
    /**
     * MAIN 
     */
  
    .main .container {
      display: grid;
      grid-template-columns: 5fr 2fr;
      gap: 60px;
    }
  
  
  
    /**
     * ASIDE 
     */
  
    .aside {
      display: block;
      align-self: stretch;
    }
  
    .aside .h2 {
      color: var(--foreground-secondary);
      margin-bottom: 3rem;
      text-align: center;
      line-height: 1.3;
    }
  
    .aside .wrapper {
      background: var(--background-primary);
      border-radius: 10px;
      padding: 40px;
      box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.05);
    }
  
    .topics { margin-bottom: 3rem; }
  
    .topic-btn {
      display:     flex;
      align-items: stretch;
      background: var(--background-primary);
      border-radius: 10px;
      box-shadow: 0 5px 5px hsla(0, 0%, 0%, 0.05);
      overflow: hidden;
    }
  
    .topic-btn:not(:last-child) { margin-bottom: 1rem; }
  
    .topic-btn .icon-box {
      font-size: 22px;
      width: 70px;
      display:         flex;
      justify-content: center;
      align-items:     center;
      background: var(--action-primary);
      color: var(--foreground-secondary);
    }
  
    .topic-btn:hover .icon-box {
      background: var(--accent);
      color: var(--white);
    }
  
    .topic-btn ion-icon { --ionicon-stroke-width: 40px; }
  
    .topic-btn p {
      padding: 15px;
      color: var(--foreground-secondary);
      font-weight: 700;
    }
  
    .tags { margin-bottom: 3rem; }
  
    .tags .wrapper {
      display:   flex;
      flex-wrap: wrap;
      gap: 0.2rem;
    }
  
    .tags .hashtag {
      background: var(--action-primary);
      color: var(--foreground-secondary);
      padding: 5px 10px;
      font-size: var(--fs-5);
      font-weight: 700;
      border-radius: 5px;
    }
  
    .tags .hashtag:hover {
      background: var(--foreground-secondary);
      color: var(--action-primary);
    }
  
    .contact { margin-bottom: 3rem; }
  
    .contact p {
      color: var(--foreground-secondary);
      margin-bottom: 1rem;
    }
  
    .social-link {
      display:         flex;
      justify-content: center;
      align-items:     center;
      gap: 10px;
    }
  
    .social-link .icon-box {
      width:  45px;
      height: 45px;
      background: var(--action-secondary);
      border-radius: 50%;
      display:         flex;
      justify-content: center;
      align-items:     center;
      font-size: 22px;
    }
  
    .social-link .discord { color: hsl(235, 86%, 65%); }
  
    .social-link .twitter { color: hsl(203, 89%, 53%); }
  
    .social-link .facebook { color: hsl(220, 46%, 48%); }
    
    .social-link .icon-box:hover {
      background: var(--accent);
      color: var(--white);
    }
  
    .newsletter {
      position: sticky;
      top: 3rem;
      margin-bottom: 98px;
    }
  
    .newsletter p {
      color: var(--foreground-secondary);
      margin-bottom: 1rem;
    }
  
    .newsletter input {
      border: none;
      background: var(--action-primary);
      display: block;
      width: 100%;
      padding: 0.5rem 1rem;
      font: inherit;
      color: var(--black-400);
      border-radius: 5px;
      margin-bottom: 1rem;
    }
  
    .newsletter input::placeholder { color: var(--black-400); }
  
    .newsletter input:focus {
      outline: 2px solid;
      outline-offset: 0;
    }
  
    .newsletter .btn-primary {
      margin-inline: auto;
      margin: auto; /* fallback for margin-inline */
    }
  
  
  }


/**
     * BLOGS1-10
     */
     .blog-write .text span {
          font-weight: 600;
     }

.blog-write .text img {
    height: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
}
.blog-write h2{
    margin-left: 280px;
    margin-bottom: 20px;
    margin-top: -30px;
    color: #2a14eb;
}
/**
     * BLOGS1-10
     */
     .blog-write .text span {
      font-weight: 600;
 }
 .blog-write .dive{
  margin-left: 30px;
 }
 .blog-write .title{
  color: var(--black-900);
 }
 .blog-write .text h4{
  color: var(--black-900);
 }
 .blog-write .text p{
  color: var(--black-400);
 }
 .blog-write .text h5{
  color: var(--black-900);
 }