@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
/* Global Css */
:root{
  --main-color: #2a14eb;
  --color-1: #15ff00;
  --color-2: #f5ae10;
  --color-3: #09d69c;
  --bg-dark: #2b2c2f;
  --main-to-dark-color: var(--color-1);
  --dark-to-main-color: var(--bg-color);
  --shadow-black-100: 0 5px 15px rgba(0,0,0,0.1);
  --shadow-black-300: 0 5px 15px rgba(0,0,0,0.3);
  --black-900: #000;
  --black-400: #555;
  --black-100: #f7f7f7;
  --black-000: #fff;
  --black-alpha-100: rgba(0,0,0,0.05);
}
.light-theme {

  /**
   * light theme colors 
   */

  --background-primary: hsl(0, 0%, 100%);
  --background-secondary: hsl(0, 0%, 97%);

  --action-primary: hsl(214, 32%, 91%);
  --action-secondary: hsl(210, 38%, 95%);

  --foreground-primary: hsl(218, 23%, 23%);
  --foreground-secondary: hsl(216, 15%, 52%);
  --foreground-tertiary: hsl(214, 20%, 69%);

  --accent: hsl(229, 76%, 66%);

}

.dark-theme {

  /**
   * dark theme colors 
   */

  --background-primary: hsl(218, 23%, 23%);
  --background-secondary: hsl(220, 26%, 14%);

  --action-primary: hsl(216, 15%, 52%);
  --action-secondary: hsl(218, 23%, 23%);

  --foreground-primary: hsl(210, 38%, 95%);
  --foreground-secondary: hsl(211, 25%, 84%);
  --foreground-tertiary: hsl(214, 20%, 69%);

  --accent: hsl(229, 76%, 66%);

}

:root {

  /**
   * color
   */

  --white: hsl(0, 0%, 100%);
}

*{
    margin: 0;
    padding: 0;
    outline: none!important;
}
body{
    font-family: font-family 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    background: #fff;
    line-height: 1.5;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
ul{
    list-style: none;
}
.btn-1{
    background-color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-300);
    font-weight: 500;
}
.btn-1:focus{
    box-shadow: var(--shadow-black-300);
}
.btn-1:hover{
    color: #fff;
    background-color: #2a14eb;
}
.btn-2{
    background-color: #2a14eb;
    padding: 10px 30px;
    border-radius: 30px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    box-shadow: var(--shadow-black-100);
    font-weight: 500;
    font-size: 22px;
}
.btn-2:focus{
    box-shadow: var(--shadow-black-100);
}
.btn-2:hover{
    color: var(--main-color);
    background-color: #fff;
}
/* Preloader */
.preloader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2100;
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader span{
    display: block;
    height: 60px;
    width: 60px;
    background-color: var(--dark-to-main-color);
    border-radius: 50%;
    animation: zoomInOut_01 1s ease infinite;
}
/* Navbar */

/* menu btn styling */
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all o.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}


 /**
   * typography 
   */
:root {
   --fs-base: 0.85rem;
   --fs-1: 1.875rem;
   --fs-2: 1.5rem;
   --fs-3: 1.25rem;
   --fs-4: 0.875rem;
   --fs-5: 0.75rem;
}

/*-----------------------------------*\ 
  #BASE STYLE
\*-----------------------------------*/

.h1,
.h2,
.h3,
.h4 {
  display: block;
  color: var(--foreground-primary);
}

.h1 {
  font-size: var(--fs-1);
  font-weight: 900;
}

.h2 {
  font-size: var(--fs-2);
  font-weight: 700;
}

.h3 {
  font-size: var(--fs-3);
  font-weight: 700;
}

.h4 {
  font-size: var(--fs-4);
  font-weight: 700;
}

.text-sm { font-size: var(--fs-4); }

.text-tiny { font-size: var(--fs-5); }


/*-----------------------------------*\ 
  #BLOG SECTION
\*-----------------------------------*/

.main {
    background: var(--background-secondary);
    padding: 8rem 0;
  }
  
/* Contact Styling */
.contact{
    background-color: var(--black-100);
}
.contact .section-padding{
    padding: 80px 0;
}
.contact .section-title{
    margin-bottom: 60px;
}
.contact .section-title h2{
    font-size: 40px;
    color: var(--black-900);
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    margin: 0;
}
.contact .section-title h2 span{
    color: var(--main-color);
}
.contact-info h3{
    font-size: 22px;
    color: var(--black-900);
    font-weight: 500;
    margin: 0 0 40px;
}
.contact-info-item{
    position: relative;
    padding-left: 55px;
    margin-bottom: 30px;
}
.contact-info-item i{
    position: absolute;
    height: 40px;
    width: 40px;
    left: 0;
    top: 0;
    color: var(--main-color);
    border-radius: 50%;
    font-size: 16px;
    border: 1px solid var(--main-color);
    text-align: center;
    line-height: 38px;
}
.contact-info-item h4{
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px;
    color: var(--black-900);
}
.contact-info-item p{
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin: 0;
    color: var(--black-400);
}
.contact-form .form-group{
    margin-bottom: 25px;
}
.contact-form .form-control{
    height: 52px;
    border: 1px solid transparent;
    box-shadow: var(--shadow-black-100);
    border-radius: 30px;
    padding: 0 24px;
    color: var(--black-900);
    background-color: var(--black-000);
    transition: all 0.5s ease;
}
.contact-form textarea.form-control{
    height: 140px;
    padding-top: 12px;
    resize: none;
}
.contact-form .form-control:focus{
    border-color: var(--main-color);
}



/* Footer Styling */
.footer{
    background-color: #2a14eb;
    padding: 50px 0 0;
}
.footer-col h3{
    font-size: 18px;
    font-weight: 500;
    color: #15ff00;
    margin: 0 0 25px;
    text-transform: capitalize;
}
.footer-col p{
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.9);
    line-height: 26px;
    margin: 0;
}
.footer-col ul{
    margin: 0;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.9);
    display: block;
    text-transform: capitalize;
    text-decoration: none;
    transition: all 0.5s ease;
}
.footer-col ul li a:hover{
    padding-left: 5px;
}
.footer .copyright-text{
    padding: 20px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,0.9);
    margin: 50px 0 0;
    border-top: 1px solid rgba(255,255,255,0.2);
}

/* Toggle theme light and dark mode */
.toggle-theme{
    position: fixed;
    right: 0;
    top: calc(50% - 20px);
    height: 40px;
    width: 40px;
    background-color: var(--dark-to-main-color);
    z-index: 1200;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: var(--shadow-black-300);
    font-size: 16px;
    text-align: center;
}
.toggle-theme i{
    line-height: 40px;
}


/* Responsive Styling */
@media(max-width: 991px){

    .home-img .circle{
        height: 320px;
        width: 320px;
    }
    .home-img .circle::before{
        left: 18px;
        top: 18px;
        transform-origin: 142px 142px;
    }
    .home-text h1{
        font-size: 40px;
    }
    .pricing-plan,
    .how-it-works-item,
    .app-download-item{
        margin-bottom: 30px;
    }
    .how-it-works-item.line-right::before{
        content: none;
    }
    .how-it-works-item{
        box-shadow: var(--shadow-black-100);
        border-radius: 10px;
    }
    .footer-col{
        margin-bottom: 30px;
    }
}

@media(max-width: 767px){
    .home-text{
        margin-bottom: 80px;
    }
    .fun-fact-img{
        margin-bottom: 30px;
    }
    .contact-form{
        margin-top: 20px;
    }
    .section-title h2{
        font-size: 35px;
    }
    .fun-facts .section-title h2{
        text-align: center;
    }
    .section-title h1 span,
    .news .section-title h1{
        font-size: 25px;
        margin-left: 120px;
    }
    .footer-col2{
        margin-left: 10px;
    }
    .social-icons {
        display: inline-block;
        margin: 0;
        padding: 5px 15px;
    }
    .post-data title{
        font-size: 20px;
    }
    .footer-col h3{
        margin-top: 15px;
        margin-bottom: 10px;
    }
    
}
@media(max-width: 575px){
    .home-text h1{
        font-size: 30px;
    }
    .home-text p{
        font-size: 16px;
    }
    .section-title h2{
        font-size: 30px;
    }
}





